img {
  border-radius: 50%;
  width: 450px;
  height: "430px";
  margin: "auto";
}
@media (max-width: 998px) {
  img {
    width: 250px;
    height: 170px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  img {
    width: 450px;
    height: 330px;
  }
}
@media (min-height: 1000px) {
  img {
    width: 470px;
    height: 330px;
  }
}
