ul,
li {
  list-style: none;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  position: relative;
}
.navv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}
.nav-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  margin-right: 18px;
  background: #040404;
}
.heading1 {
  font-family: Armata, Esphimere, sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 7px;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  padding: 0px 15px 10px 25px;
}
a:hover {
  color: white;
}
.menu2 {
  top: 0;
  position: relative;
  padding: 10px 15px 10px 15px;
}
.menu2 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.menu2 ul li {
  margin-right: 18px;
  padding: 0px 10px 10px 10px;
  font-size: 1.2rem;
}
.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  display: none;
}
.alink:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #33cc33; /* color of the underline */
  transition: width 0.3s ease-in-out;
}
.active {
  color: white;
}
.alink.active::before {
  width: 50%;
}
.alink:hover:before {
  width: 50%; /* width of the underline */
}
@media (max-width: 998px) {
  .menu2 {
    display: none;
  }
  .hamburger-menu {
    display: block;
    z-index: 99;
  }
  /* ul {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(20px, 2fr));
    grid-template-columns: repeat(auto-fill, minmax(20px, 2fr));
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
  } */
  .mobile-menu ul {
    flex-direction: column;
    align-items: center;
  }
  .mobile-menu ul li {
    margin: 10px;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 5;
    transition: 0.3s;
    background: #040404 url(../images/p3.png) top right;
  }
  .heading1 {
    font-size: 0.5rem;
    letter-spacing: 4px;
    padding: 13px 15px 10px 16px;
    margin-top: 10px;
  }
}
@media (min-height: 1000px) {
  ul,
  li {
    font-size: 24px;
  }
  .heading1 {
    font-size: 0.7rem;
    padding: 8px 15px 10px 25px;
  }
}
