.App {
  position: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* aligns items vertically in center */
  justify-content: space-evenly; /* aligns items horizontally */
  height: 100vh; /* to take the full height of the viewport */
}
/* .left-div {
  position: fixed;
  image-rendering: pixelated;
  top: 10vh;
  left: 50%;
  right: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.right-div {
  position: fixed;
  right: 30vw;
}
.right-div h1 {
  color: white;
  font-size: 54px;
  margin-bottom: 8px;
  /* line-height: 1; */
}
.right-div p {
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}
.App div {
  color: rgba(255, 255, 255, 0.8);
}
.highlight {
  text-decoration: underline #33cc33;
  color: white;
}
.icons {
  margin-top: 40px;
}
.icons a {
  margin-right: 10px;
}
.ho {
  background-color: #333333;
}
.ho:hover {
  background-color: #33cc33;
  transition: 0.5s;
}
footer {
  /* display: flex; */
  position: fixed;
  /* margin-bottom: -90vh;
  margin-left: 60vw; */
  z-index: -1;
  bottom: 0;
  margin: 0px 0px 10px 0px;
}
@media (min-width: 993px) {
  footer {
    right: 0;
  }
}
@media (max-width: 992px) {
  footer {
    align-items: center;
  }
}
@media (max-width: 426px) {
  /* .left-div {
    top: 12vh;
  } */
  .right-div {
    left: 0;
    right: 0;
    align-items: center;
  }
  .right-div h1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    align-items: center;
  }
  .right-div p {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 7vw;
    align-items: center;
  }
  .icons {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 426px) and (max-width: 998px) {
  .right-div {
    left: 0;
    right: 0;
    align-items: center;
  }
  .right-div h1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    align-items: center;
  }
  .right-div p {
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .icons {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 998px) and (max-width: 1024px) {
  /* .left-div {
    left: 0;
    right: 0;
    top: 26%;
    justify-content: flex-start;
    align-items: center;
  } */
  .right-div {
    right: 10vw;
  }

  .right-div h1 {
    font-size: 30px;
  }
  .right-div p {
    font-size: 20px;
    margin-top: 20px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  /* .left-div {
    left: 9vw;
    right: 0;
    top: 26%;
    justify-content: flex-start;
    align-items: center;
  } */
  .right-div {
    right: 12vw;
    top: 30vh;
  }
  .right-div p {
    margin-top: 20px;
  }
}
@media (min-width: 1440px) and (max-width: 2560px) {
  /* .left-div {
    left: 9vw;
    right: 0;
    top: 25%;
    justify-content: flex-start;
    align-items: center;
  } */
  .right-div {
    right: 20vw;
    top: 30vh;
  }
}
